{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?ver5">

    <script>
        var num = 49
        function btn_up() {
            const div = document.getElementsByClassName(".guestbook-item")
            div.item()
        }


    </script>


</head>


<body>
<div class="camera">
    {% include 'MaskGuestBook/live.html'%}
</div>
<div class="post">
<h1>방명록</h1>
<hr width="80%" align="left">
{% for image in guests %}
     {% if image.id == 49 or image.id ==  50 %}
    <div class="guestbook-item">
        <img style="width: 320px; height: 240px; border-radius: 10%; overflow: hidden;" src="{% static "resources/images/" %}{{ image.image_name }}.png">
        <div class="content-text">
            <h2 class="name-font">{{ image.name }}</h2>
            <h2 class="date-font">{{ image.pub_date | date:"Y년m월d일 f" }}</h2>
            <h2 class="message-font">{{ image.message }}</h2>
        </div>
    </div>
    {% endif %}
{% endfor %}
    <div class="buttons">
        <form action="{% url 'live' %}?pos=1" method="get">
            <button class="btn-up" type="submit"><img src="{% static "button-prev.png" %}"> </button>
        </form>
        <form action="{% url 'live' %}?pos=1" method="get">
            <button class="btn-down" type="submit"><img src="{% static "button-next.png" %}"> </button>
        </form>
    </div>
</div>
</body>
</html>