{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?ver7">
</head>

<body>
<div class="camera">
    {% include 'MaskGuestBook/live.html'%}
</div>
<div class="post">
<h1>방명록</h1>
<hr width="80%" align="left">
    <div class="guestbook-item">
        <img style="width: 320px; height: 240px; border-radius: 10%; overflow: hidden;" src="{% static "resources/images/" %}{{ guest1.image_name }}.png">
        <div class="content-text">
            <h2 class="name-font">{{ guest1.name }}</h2>
            <h2 class="date-font">{{ guest1.pub_date | date:"Y년m월d일 f" }}</h2>
            <h2 class="message-font">{{ guest1.message }}</h2>
        </div>
    </div>

    {% if guest2 != None %}
    <div class="guestbook-item">
        <img style="width: 320px; height: 240px; border-radius: 10%; overflow: hidden;" src="{% static "resources/images/" %}{{ guest2.image_name }}.png">
        <div class="content-text">
            <h2 class="name-font">{{ guest2.name }}</h2>
            <h2 class="date-font">{{ guest2.pub_date | date:"Y년m월d일 f" }}</h2>
            <h2 class="message-font">{{ guest2.message }}</h2>
        </div>
    </div>
    {% endif %}
<!-- recapture 구현-->
    <div class="buttons">
        {% if btn_up_visiable %}
            <button class="btn-down" onclick=location.href="{% url 'prevpage' %}?pos=1"><img src="{% static "button-prev.png" %}"></button>
        {% else %}
            <button disabled style="opacity: 0.5; cursor:default; border: 0px" ></button>
        {% endif %}
        {% if  btn_down_visiable%}
            <button class="btn-up" onclick=location.href="{% url 'nextpage' %}?pos=1"><img src="{% static "button-next.png" %}"></button>
        {% else %}
            <button disabled style="opacity: 0.5; cursor:default; border: 0px" ></button>
        {% endif %}
    </div>
</div>
</body>
</html>