<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for guest in guests %}
<tr class="text-center">
   <th scope="row">
       <span>{{ guest.name }}</span>
   </th>
<!--   <td>-->
<!--       <a href="/post/{{ guest.name }}">-->
<!--           <span>{{ guest.name }}</span>-->
<!--       </a>-->
<!--   </td>-->
   <td>
       <span>{{ guest.phone }}</span>
   </td>
    <td>
       <span>{{ guest.message }}</span>
   </td>
<!--   <td>-->
<!--       <span>{{ board.created_date | date:"Y-m-d h:i" }}</span>-->
<!--   </td>-->
</tr>
{% endfor %}

</body>
</html>