body{
  margin:0;
}

.post{
  float: left;
  background-color: white;
  width: 50%;
  height : 100vw;

}

.camera{
  float: left;
  background-color: white;
  width: 50%;
  height : 100vw;
}

/* 사진 */
img .img-post{
  position: absolute;
  left: 10px;
}

/* 사진, 이름, 날짜, 메시지 */
.guestbook-item{
  position: relative;
  color: black;
  margin: 50px;
}

/* 이름, 날짜, 메시지 */
.content-text{
  position: absolute;
  left: 350px;
  top: 3px;
  width: 500px;
  height: 250px;
  background-color: white;
}

.name-font{
  font-size: 20px;
  color: black;
  margin:0px;
}

/* 방명록 */
h1{
  font-size: 40px;
  color: #4f88fa;
  padding: 40px 0px 0px 20px;
}

/* 날짜 */
.date-font{
  margin-top: 0px;
  font-size: 15px;
  color: #c9c9c9;
  margin-bottom: 20px;
}

h3 {

}

/* 메시지 */
.message-font{
  font-size: 18px;
  color: black;
}

/* 버튼 */
.buttons{
  display: table; margin-left: auto; margin-right: auto;
}

.btn-up, .btn-down{
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
}

.btn-up {
  background-color: #4f88fa;
  color: white;
  position: center;
  margin-right: 5px;
}

.btn-down{
  background-color: white;
  color: #4f88fa;
  box-shadow: 6.1px 5.1px 15px 0 rgba(0, 8, 21, 0.07);
  margin-left: 5px;
}

/* live.html */

.live-img{
    display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.live-content {
  border-radius: 0px 0px 50px 50px ;
  overflow: hidden;
  height: 200px;
  width: 640px;
  background-color: #4f88fa;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.live-content button {
    background-color: #4f88fa;
   border: none;
}

.live-content-text {
  position: absolute;
  left: 10px;
  color: white;
}

.capture-btn {
  position: absolute;
  right: 70px;
  top: 65px;
}

.capture-btn form img {
  background-color: #4f88fa;
}